* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.colm-1
 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
  color: yellow;
  border: "2px solid green";
  margin-right :20px;
  width: auto;
}

.colm-2 {
  /* Move this downward */

  display: flex;
  align-items: center;
  background-color: whitesmoke;
  color: yellow;
  border: "2px solid green";
  margin-right :20px;
  width: auto;
  padding: 10px;
}
.colm-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
  color: yellow;
  border: "2px solid green";
  margin-right :20px;
  padding: 10px;
}
.pic-1 {
  display: flex;
  justify-content: space-around;
  align-items: left;
  background-color: purple;
  color: yellow;
  border: "2px solid green";
  margin-right :20px;
  padding: 10px;
  box-shadow: inset 0px 0px 8px
}
.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
  color: pink;
  border: "2px solid green";
  margin-right :20px;
}
.nav-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
  color: yellow;
  border: "2px solid green";
  margin-right :20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  color: yellow;
  border: "2px solid green";
  margin-right :20px;
}

h1,
h2,
h3
{
  text-align: center;
  background-color: purple;
  color: yellow;
  border: "2px solid green";
  margin-right :20px;
}

p {
  font-size: 1.1rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}

a {
  color: black;
  font-family: cursive;
  padding-top: 15px;
  margin-right: 20px; 
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  background-color: purple;
  color: yellow;
  border: "2px solid green";
  margin-right :20px;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
